<%= render 'layouts/errors' %>

<section class="app-landing-form">
  <h1>Sign in</h1>

  <form id="form_id" action="<%= session_url %>" method="post" class="app-landing-form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email">Email</label>
    <br>
    <input type="text" name="user[email]" id="email" value="<%= @user.email %>">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="user[password]" id="password">
    <br>
    <input type="submit" value="Sign in" class="submit">
  </form>
  
  <section class="app-guest">
    Login: User123@test.com
    <br>
    Password: Welcome
  </section>
</section>


<%= link_to image_tag("https://s3.amazonaws.com/merlinsboardapp/Red-signin_Google_base_44dp.png"), user_omniauth_authorize_path(:google_oauth2), class: "google-sign-in"%>
