<nav class="app-landing group">
  <%= link_to image_tag("https://s3.amazonaws.com/merlinsboardapp/Red-signin_Google_base_44dp.png"), user_omniauth_authorize_path(:google_oauth2), class: "google-sign-in"%>
  <a href="/session/new" class="app-landing-link">Sign in</a>
  <a href="/users/new" class="app-landing-link">Sign up</a>
</nav>

<section class="app-landing-form">
  <h1>Sign in</h1>

  <form id="form_id" action="<%= session_url %>" method="post" class="app-landing-form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email">Email</label>
    <br>
    <input type="text" name="user[email]" id="email" value="<%= @user.email %>">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="user[password]" id="password">
    <br>
    <input type="submit" value="Sign in" class="submit">
  </form>
  
  <%= render 'layouts/errors' %>
  
  <form id="form_id" class="app-guest" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="user[email]" id="email" value="user123@test.com">
    <input type="hidden" name="user[password]" id="password" value="Welcome">
    <input type="submit" value="Sign in as guest" class="submit">
  </form>

</section>
