<h1> Resource for <%= course.escape("name") %> </h1>

<% resources.each(function (resource) { %>
<h3 class="resource-name"><%= resource.escape("name")%></h3>
<p class="resource-description"><%= resource.escape("description") %></p>
<a href="<%= resource.get('path') %>" class="resource-link">Download resource</a>
<br>
  <% if (isInstructor) {%>
<button type="button" class="resource-edit" data-id="<%= resource.id %>">
  Edit Resource
</button>
<button type="button" class="resource-destroy" data-id="<%= resource.id %>">
  Remove Resource
</button>
  <% } %>
<% }) %>

<br>

<% if (isInstructor) { %>
<button type="button" class="resource-new">
  New Resource
</button>
<% } %>