<h1><%= resource.isNew() ? "Create New Resource":"Edit Resource"%></h1>

<section class="form-errors">
</section>

<form enctype="multipart/form-data" class="resource-form">
<label> Resource Name
<input type="text" name=name value="<%= resource.escape('name') %>">
</label>
<br>
  
<label> Resource Description
<textarea name="description"><%= resource.escape("description")%></textarea>
</label>
<br>
  
<% if (!resource.isNew()) { %>
Current Resource: <a class="resource-path" href="<%= resource.escape('path') %>">Download</a>
<br>
<% } %>
  
<label> Resource File
<input type="file" name="document" class="resource-form-fileinput">
</label>
<br>
  
<input type="hidden" name=course_id value="<%= resource.get('course_id') %>">
<!--  Just realized I don't need to do this at all, because I can just set it on the router  -->
<input type="submit" value="<%= resource.isNew() ? 'Create Resource':'Save Changes'%>">
</form>