<h1>Assignments</h1>

<% assignments.each(function (assignment) { %>
<h3 class="assignment-title"><%= assignment.escape("title") %></h3>
<p class="assignment-description"><%= assignment.escape("description") %></p>
<table>
  <tr>
    <td>Due Date</td>
    <td><%= assignment.get("due_date") %></td>
  </tr>
</table>
<% if (isInstructor) {%>
<button type="button" class="assignment-edit" data-id="<%= assignment.id %>">
  Edit Announcement
</button>
<button type="button" class="assignment-destroy" data-id="<%= assignment.id %>">
  Remove Announcement
</button>
<% } %>
<br>
<% }) %>

<% if (isInstructor) {%>
<button type="button" class="assignment-new-button">
  New Assignment
</button>
<% } %>

