<section class='form-errors'>
</section>

<form class="course-form">
  <label for="course-name">Name</label>
  <input id="course-name" type="text" name="course[name]" value="<%= course.escape('name') %>">

  <br>

  <label for="course-description">Course Description</label>
  <textarea name="course[description]" rows="8" cols="40" id="course-description"><%= course.escape('description') %></textarea>

  <br>

  <label for="course-location">Location</label>
  <input type="text" name="course[location]" value="<%= course.escape('location') %>">

  <br>

  <label for="course-start_time">Start Time (Provide in 24-hour format)</label>
  <input type="number" name="course[start_time]" value="<%= course.escape('start_time') %>">

  <br>

  <label for="course-end_time">End Time (Provide in 24-hour format)</label>
  <input type="number" name="course[end_time]" value="<%= course.escape('end_time') %>">

  <br>

  <label for="course-day">Day</label>
  <select id="course-day" name="course[day]">
    <% _.each(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"], function (day) { %>
    <option value="<%= day %>" <%= (day === course.get('day')) ? "selected" : "" %> ><%= day %></option>
    <% }) %>
  </select>

  <br>

  <input type="submit" value="<%= course.isNew() ? 'Create Course' : 'Save Changes'%>">
</form>

