<h1><%= course.escape("name") %></h1>

<section class="errors">
</section>

<p>
  <%= course.escape("description") %>
</p>

<p><%= course.escape("start_time") %></p>
<p><%= course.escape("end_time") %></p>
<p><%= course.escape("day") %></p>

<h2>Instructors</h2>
<ul>
  <% course.instructors().each( function (instructor) { %> 
  <li><%= instructor.escape("lname") + ", " + instructor.escape("fname") %></li>
  <% }) %>
</ul>

<h2>Students</h2>
<ul>
  <% course.students().each( function (student) { %>
  <li><%= student.escape("lname") + ", " + student.escape("fname") %></li>
  <% }) %>
</ul>

<% if (!!course.instructors().findWhere({id: userID})) { %>
  <form class="cancelcourse">
    <input type="submit" value="Cancel Class">
  </form>
  <a href="<%='#course/' + course.id + '/edit'%>">Edit Course</a>
<% } else { %>
  <% if (!!course.students().findWhere({id: userID})) {%>
    <form class="dropcourse">
      <input type="submit" value="Drop Class">
    </form>
  <% } else { %>
    <form class="enrollcourse">
      <input type="hidden" name="enrollment[user_id]" value="<%= MerlinsBoard.CurrentUser.id %>">
      <input type="hidden" name="enrollment[course_id]" value="<%= course.id %>">
      <input type="submit" value="Enroll in Class">
    </form> 
  <% } %>
<% } %>
