<h1 class="course-enroll-header"><%= course.escape("name") %></h1>

<p>
<p class="course-label">Description:</p><%= course.escape("description") %>
</p>
<br>
<table class="course-table">
  <tr>
    <td class="course-table-label">Start time</td>
    <td><%= course.escape("start_time") %></td>
  </tr>
  
  <tr>
    <td class="course-table-label">End time</td>
    <td><%= course.escape("end_time") %></td>
  </tr>
  
  <tr>
    <td class="course-table-label">Day</td>
    <td><%= course.escape("day") %></td>
  </tr>
</table>

<h2 class="course-label">Instructors</h2>
<ul>
  <% course.instructors().each( function (instructor) { %> 
  <li class="course-user-list"><%= instructor.escape("lname") + ", " + instructor.escape("fname") %></li>
  <% }) %>
</ul>

<h2 class="course-label">Students</h2>
<ul>
  <% course.students().each( function (student) { %>
  <li class="course-user-list"><%= student.escape("lname") + ", " + student.escape("fname") %></li>
  <% }) %>
</ul>

<section class="errors">
</section>

<% if (!!course.instructors().findWhere({id: userID})) { %>
  <button class="editcourse">
  Edit Course  
  </button>

  <form class="cancelcourse">
    <input type="submit" value="Cancel Class">
  </form>
<% } else { %>
  <% if (!!course.students().findWhere({id: userID})) {%>
    <form class="dropcourse">
      <input type="submit" value="Drop Class">
    </form>
  <% } else { %>
    <form class="enrollcourse">
      <input type="hidden" name="enrollment[user_id]" value="<%= MerlinsBoard.CurrentUser.id %>">
      <input type="hidden" name="enrollment[course_id]" value="<%= course.id %>">
      <input type="submit" value="Enroll in Class">
    </form> 
  <% } %>
<% } %>
