<h1 class="announcements-home">Announcements for <%= courseName %></h1>

<% announcements.each(function (announcement) { %>
<section class="announcement-container">
<h3 class="announcement-title"><%= announcement.escape("title") %></h3>
<p class="announcement-body"><%= announcement.escape("body") %></p>
<% if (isInstructor) {%>
<button type="button" class="announcement-edit" data-id="<%= announcement.id %>">
  Edit Announcement
</button>
<button type="button" class="announcement-destroy" data-id="<%= announcement.id %>">
  Remove Announcement
</button>
<% } %>
</section>
<% }) %>



<% if (isInstructor) {%>
<button type="button" class="announcement-new-button">
  New Announcement
</button>
<% } %>