<h1><%= announcement.isNew ? "New Announcement" : "Edit Announcement"%></h1>
<section class='form-errors'>
</section>
<form class="announcement-form">
  <label>Title
  <input type="text" name="announcement[title]" value="<%=announcement.escape('title')%>">
  </label>
  <br>
  <label>Body
  <textarea name="announcement[body]"><%= announcement.escape('body') %></textarea>
  </label>
  <input type="hidden" name="announcement[user_id]" value="<%= MerlinsBoard.CurrentUser.id %>">
  <input type="hidden" name="announcement[course_id]" value="<%= announcement.get('course_id') || course_id %>">
  <br>
  <input type="submit" value="<%= announcement.isNew ? 'Create' : 'Save Changes'%>">
</form>